@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}

p{
    background-color: red;
    /* Un selector de etiqueta se aplica a todas las etiquetas HTML 
    definidas por el selector. */
}

#primero {
    background-color: blueviolet;
    /* Un selector de elemento único (o de id) se aplica solamente a
    la etiqueta HTML que tiene ese id asociado. */
}

.centrado{
    text-align: center;
    /* Un selector de clase puede ser reutilizado en muchos
    elementos HTML, indicando el nombre del selector en el
    atributo class del elemento HTML. */
}

.destacado{
    color: white;
}